@model FrotaPim.Web.Models.ViewsModels.SeguroViewModel

@{
    ViewData["Title"] = "Adicionar Seguro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row header">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar" asp-controller="Seguro" method="post" asp-anti-forgery>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Apolice" class="control-label"><b>Apólice</b></label>
                <input asp-for="Apolice" class="form-control"  name="Apolice" required/>
                <span asp-validation-for="Apolice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seguradora" class="control-label"><b>Seguradora</b></label>
                <input asp-for="Seguradora" class="form-control"  name="Seguradora" required/>
                <span asp-validation-for="Seguradora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><b>Veículo</b></label>
                <div>
                    @Html.DropDownList("IDCarro", new SelectList(@Model.Carros, "IDCarro", "Placa", "0"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataContratacao" class="control-label"><b>Data de Contratação</b></label>
                <input type="date" placeholder="dd/mm/aaaa" asp-for="DataContratacao" class="form-control"  name="DataContratacao" required/>
                <span asp-validation-for="DataContratacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataValidade" class="control-label"><b>Data de Validade</b></label>
                <input type="date" placeholder="dd/mm/aaaa" asp-for="DataValidade" class="form-control" name="DataValidade" required/>
                <span asp-validation-for="DataValidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorSeguro" class="control-label"><b>Valor do Seguro</b></label>
                <input size="10" maxlength="10" onkeydown="FormataMoeda(this,10,event)" onkeypress="return maskKeyPress(event)" placeholder="R$" asp-for="ValorSeguro" class="form-control"  name="ValorSeguro" required/>
                <span asp-validation-for="DataValidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success btn-sm" />
                <a href="/Seguro" class="btn btn-secondary btn-sm">Voltar</a>
            </div>
        </form>
    </div>
</div>


