@model IEnumerable<FrotaPim.Web.Models.ViewsModels.PessoaViewModel>
@{
    ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="fundo">
    <div class="text-center">
    <h1 class="display-4">DashBoard</h1>
</div>
<div class="">
    <hr />
    <td>
        <a href="/Cargo" class="btn btn-dark btn-lg">Cargos</a>
    </td>
    <td>
        <a href="/Carro" class="btn btn-dark btn-lg">Carros</a>
    </td>
    <td>
        <a href="/ContasAPagar" class="btn btn-dark btn-lg">Contas a Pagar</a>
    </td>
    
    <td>
        <a href="/Endereco" class="btn btn-dark btn-lg">Endereços</a>
    </td>
    <td>
        <a href="/Estoque" class="btn btn-dark btn-lg">Estoque</a>
    </td>
    <td>
        <a href="/Manutencao" class="btn btn-dark btn-lg">Manutenção</a>
    </td>
    <td>
        <a href="/Multa" class="btn btn-dark btn-lg">Multas</a>
    </td>
    <td>
        <a href="/Pessoa" class="btn btn-dark btn-lg">Funcionários</a>
    </td>
    <td>
        <a href="/Seguro" class="btn btn-dark btn-lg">Seguros</a>
    </td>
<hr/>
</div>
<div class="imgIndex">

</div>
</body>




