@model IEnumerable<FrotaPim.Web.Models.ViewsModels.PessoaViewModel>
@{
    ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="fundo">
    <div class="text-center">
    <h1 class="display-4">DashBoard</h1>
</div>
<div class="">
    <hr />
    <td>
        <a href="/Cargo" class="btn btn-dark btn-sm"><i class="fas fa-briefcase mx-1"></i>Cargos</a>
    </td>
    <td>
        <a href="/Carro" class="btn btn-dark btn-sm"><i class="fas fa-car mx-1"></i>Carros</a>
    </td>
    <td>
        <a href="/ContasAPagar" class="btn btn-dark btn-sm"><i class="fas fa-dollar-sign mx-1"></i>Contas a Pagar</a>
    </td>
    
    <td>
        <a href="/Endereco" class="btn btn-dark btn-sm"><i class="fas fa-map-marked-alt mx-1"></i>Endereços</a>
    </td>
    <td>
        <a href="/Estoque" class="btn btn-dark btn-sm"><i class="fas fa-warehouse mx-1"></i>Estoque</a>
    </td>
    <td>
        <a href="/Manutencao" class="btn btn-dark btn-sm"><i class="fas fa-wrench mx-1"></i>Manutenção</a>
    </td>
    <td>
        <a href="/Multa" class="btn btn-dark btn-sm"><i class="fas fa-info mx-1"></i>Multas</a>
    </td>
    <td>
        <a href="/Pessoa" class="btn btn-dark btn-sm"><i class="fas fa-users mx-1"></i>Funcionários</a>
    </td>
    <td>
        <a href="/Seguro" class="btn btn-dark btn-sm"><i class="fas fa-unlock-alt mx-1"></i>Seguros</a>
    </td>
    <td>
        <a href="/Viagem" class="btn btn-dark btn-sm"><i class="fas fa-plane mx-1"></i>Viagens</a>
    </td>
<hr/>
</div>
<div class="imgIndex">

</div>
</body>




