@model IEnumerable<FrotaPim.Web.Models.ViewsModels.CargoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a href="/Cargo/Criar" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a href="/Cargo/Editar/@item.Id" class="btn">Edit</a> |
                <a href="/Cargo/Detalhes/@item.Id" class="btn btn-primary">Details</a> |
                <a href="/Cargo/Deletar/@item.Id" class="btn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
