@model IEnumerable<FrotaPim.Web.Models.ViewsModels.CargoViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row header">
    <div class="col-md-12">
        <h3>Categories</h3>
        <a href="/Cargo/CriarOuEditar" class="btn btn-primary">Novo</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tbody>
                @foreach(var viewModel in @Model)
                {
                    <tr>
                        <td>
                            <a class="name">@viewModel.NomeCargo</a>
                        </td>
                        <td>
                            <a href="/Cargo/CriarOuEditar/@viewModel.Id" class="btn">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>