@model FrotaPim.Web.Models.ViewsModels.MultaViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Multas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" asp-controller="Multa" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gravidade" class="control-label"></label>
                <input asp-for="Gravidade" class="form-control" />
                <span asp-validation-for="Gravidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataMulta" class="control-label"></label>
                <input asp-for="DataMulta" class="form-control" />
                <span asp-validation-for="DataMulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMulta" class="control-label"></label>
                <input asp-for="ValorMulta" class="form-control" />
                <span asp-validation-for="ValorMulta" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <label class="control-label">Pessoa</label>
                <div>
                     @Html.DropDownList("Id", new SelectList(@Model.Pessoas, "Id", "Nome", "0"), new {@class="form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Veículo</label>
                <div>
                     @Html.DropDownList("IDCarro", new SelectList(@Model.Carros, "IDCarro", "Placa", "0"), new {@class="form-control"})
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="../Editar/@Model.Id" class="btn btn-primary btn-sm">Editar</a> |
    <a href="../Index" class="btn btn-secondary btn-sm">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
